.optical-container1 {
  display: flex;
  justify-content: center;
}

.card {
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.big-image {
  padding: 10px;
  text-align: center;
}

.big-image img {
  max-width: 100%;
  height: auto;
}

.small-images {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.small-images img {
  width: 50px;
  height: auto;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.small-images img:hover {
  transform: scale(1.1);
}

.details {
  padding: 10px;
}

h4 {
  margin-top: 0;
}

.price-info {
  font-weight: bold;
}

.additional-info {
  color: #666;
  font-size: 14px;
}
.container {
  display: flex;
}

.content {
  flex: 1;
}

.qr-scanner {
  width: 300px; /* adjust the width as needed */
}
